body {
  font-family: "Montserrat", sans-serif;
  background: white;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  position: relative;
  min-height: 98vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
